<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Layout Basica</title>
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
	<script src="img/main.js" defer></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<script src="//code.tidio.co/kj1w3e9vm98v7o2drekw2knys13cmd9e.js" async></script>


</head>

<body>


	<div class="datetime">
		<div class="time"></div>
		<div class="date"></div>
	</div>



	<div class="contenedor">
		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>

			<section class="posts">
				<article>
					<h2>EL METRO SUBTERRANEO</h2>
					<p>El metro (apócope de ferrocarril metropolitano) es un sistema de trenes urbanos ubicado dentro de
						una ciudad y su área metropolitana. Se caracteriza por ser un transporte masivo de pasajeros en
						las grandes ciudades, uniendo diversas zonas y sus alrededores, con alta capacidad y frecuencia
						y de forma segregada a otros sistemas de transporte. Los ferrocarriles metropolitanos se
						construyen de forma subterránea o en superficie, aunque la mayoría de sistemas utilizan modelos
						mixtos donde se combinan tramos en ambas modalidades. </p>

				</article>
			</section>
			<section class="posts">
				<article>
					<h2>Terminologia</h2>
					<p>La denominación más común a lo largo del mundo para este medio de transporte es «metro», apócope
						de «metropolitano» (del latín metropolitānus). Sus orígenes están en el Metropolitan Railway
						(actualmente Metropolitan Line) del Metro de Londres y en el Chemin de fer metrópolitain de
						París, que se terminó por abreviar simplemente en «metro». Este vocablo se extendió y terminó
						siendo de uso común en otros países de Europa como España, Italia, Portugal, Polonia o Hungría.

						En América el término más común es también «metro», en especial en la mayoría de zonas de habla
						hispana y portuguesa; aunque en Argentina se usa el vocablo «subte» —acortamiento de
						«subterráneo»—1​ en alusión a su nombre original Subterráneo de Buenos Aires. En algunas partes
						de Estados Unidos y Canadá también es habitual el término subway.

						Sin embargo hay otros países donde son más comunes otras formas de llamar a este medio de
						transporte. En Londres el nombre oficial es «Underground», mientras que en los países
						escandinavos se le conoce como T-Bana (Estocolmo) o T-Bane (Oslo). En Alemania la forma más
						extendida es «U-Bahn» (por Untergrundbahn, subterráneo). En Manila, Singapur y Taipéi se le
						llama MRT (Mass Transit Railway).</p>

				</article>
			</section>
			<section class="posts">
				<article>
					<h2>Historia</h2>
					<p>En 1843, el inglés Charles Pearson propuso, como parte de un plan de mejora para la ciudad de
						Londres, abrir túneles subterráneos con vías férreas. En 1853, tras diez años de debates, el
						parlamento inglés autorizó la propuesta y en 1860 comenzó la construcción: el 10 de enero de
						1863 abrió la primera línea de metro con locomotoras de vapor. El primer metro del mundo fue el
						subterráneo de Londres (denominado Metropolitan Railway), inaugurado en 1863 con seis kilómetros
						de longitud.2​ En años sucesivos fue extendiéndose, de forma que en 1884 formaba un anillo de
						aproximadamente veinte kilómetros. A continuación se le añadieron líneas radiales, en parte a
						cielo abierto y en parte en túnel, para constituir el Metropolitan and District Railway. Las
						locomotoras eran de vapor. Posteriormente se comenzó la excavación de túneles en forma de tubo
						(de allí la denominación inglesa Tube) y se electrificaron las líneas.

						La siguiente ciudad en tener metro fue Nueva York, cuya línea más antigua, que estaba totalmente
						separada del tráfico, la West End de la BMT, estuvo en uso desde el mismo año que el Subterráneo
						de Londres: 1863.

						En 1896, Budapest (con la inauguración de la línea de Vörösmarty Tér a Széchenyi Fürdő, de cinco
						kilómetros) y Glasgow (con un circuito cerrado de 10 km) fueron las siguientes ciudades europeas
						en disponer de metro. La tecnología se extendió rápidamente a otras ciudades en Europa y luego a
						Estados Unidos, donde se ha construido un elevado número de sistemas.

						A partir del siglo xx comenzó la expansión por Latinoamérica, Oceanía, África y Asia, donde el
						crecimiento ha sido más grande en los últimos años. Más de 160 ciudades tienen sistemas de
						tránsito rápido, con un total de más de 8000 km de vías y 7000 estaciones. Otras veinticinco
						ciudades tenían nuevos sistemas en construcción en 2009.

						El primer tren subterráneo del mundo hispanoparlante fue el de la ciudad de Buenos Aires,
						inaugurado en 1913 y antecediendo al de Madrid por espacio de seis años, con la Línea A que
						circula por debajo de la avenida Rivadavia, con estación inicial en Plaza de Mayo (véase más
						abajo).

						Initial constructions stages of London's Metropolitan Railway at King's Cross St. Pancras in
						1861.
						La apertura del Metropolitan Railway a vapor de Londres en 1863 marcó el comienzo del tránsito
						rápido. Las experiencias iniciales con las máquinas de vapor, a pesar de la ventilación, fueron
						desagradables. Los experimentos con ferrocarriles neumáticos fracasaron en su adopción
						generalizada por parte de las ciudades. La tracción eléctrica era más eficiente, más rápida y
						más limpia que el vapor y la elección natural para los trenes que circulaban por túneles y
						demostró ser superior para los servicios elevados.

						En 1890, el City & South London Railway fue el primer ferrocarril de tránsito rápido de tracción
						eléctrica, que también era completamente subterráneo. 3​ Antes de la apertura, la línea se
						llamaría "City and South London Subway", introduciendo así el término Subway en la terminología
						ferroviaria.4​ Ambos ferrocarriles, junto con otros, finalmente se fusionaron en el Metro de
						Londres. El Liverpool Overhead Railway de 1893 fue diseñado para utilizar tracción eléctrica
						desde el principio.5​

						La tecnología se extendió rápidamente a otras ciudades de Europa, Estados Unidos, Argentina y
						Canadá, y algunos ferrocarriles se convirtieron de vapor y otros se diseñaron para ser
						eléctricos desde el principio. Budapest, Chicago, Glasgow y la ciudad de Nueva York, todos
						servicios ferroviarios eléctricos convertidos o especialmente diseñados y construidos.6​

						Los avances en la tecnología han permitido nuevos servicios automatizados. También han
						evolucionado soluciones híbridas, como el tranvía-tren y el premetro, que incorporan algunas de
						las características de los sistemas de tránsito rápido.3​ En respuesta al costo, las
						consideraciones de ingeniería y los desafíos topológicos, algunas ciudades han optado por
						construir sistemas de tranvía, particularmente en Australia, donde la densidad en las ciudades
						era baja y los suburbios tendían a extenderse.7​ Desde la década de 1970, la viabilidad de los
						sistemas de trenes subterráneos en las ciudades australianas, particularmente Sídney y
						Melbourne, ha sido reconsiderada y propuesta como una solución al exceso de capacidad. La
						primera línea del metro de Sídney, el primer sistema de tránsito rápido de Australia, se
						inauguró en 2019.8​Desde la década de 1960, se introdujeron muchos sistemas nuevos en Europa,
						Asia y América Latina.9​ En el siglo xxi, la mayoría de las nuevas expansiones y sistemas se
						ubican en Asia, con China convirtiéndose en el líder mundial en expansión de metro, operando
						algunos de los sistemas más grandes y concurridos mientras posee casi 60 ciudades que están
						operando, construyendo o planificando un rápido sistema de tránsito.10​11​</p>

				</article>
			</section>
			<section class="posts">
				<article>
					<h2>Infraestructura</h2>
					<p>La mayoría de los trenes de ferrocarriles metropolitanos son de unidades de tren eléctricas, con
						longitudes de dos a más de diez coches. La electricidad para las motorizaciones eléctricas es
						provista por un tercer carril o catenaria. Otro sistema de propulsión en algunos trenes es el
						motor lineal.

						La mayoría circulan en vías férreas de acero convencionales, aunque algunos utilizan neumáticos
						de goma, como el Metro de Montreal. Los neumáticos de goma posibilitan circular por pendientes
						empinadas, pero generan mucho ruido, tienen mayores costes de mantenimiento y son menos
						eficientes energéticamente. También pierden la fricción cuando las condiciones climáticas son
						húmedas o heladas, estando limitado su uso en superficie en el Metro de Montreal.

						El tamaño de la tripulación ha disminuido a través de la historia con algunos sistemas modernos
						con plena operación automática del tren (ATO) (como los sistemas VAL, SAET, el sistema de
						AnsaldoBreda o el SelTrac) que permiten el funcionamiento del tren sin conductor. Algunas redes
						que utilizan este sistema son el Metro de Copenhague, el Metro de Rennes, el Docklands Light
						Railway de Londres, las línea 1 y línea 14 del Metro de París, las líneas L9, L10 y L11 del
						Metro de Barcelona y las líneas 3 y 6 del Metro de Santiago de chile. Otros trenes siguen
						teniendo conductores, aun cuando su único papel es abrir y cerrar las puertas de los trenes en
						las estaciones, como el Tren Urbano de San Juan y el Metro de Santiago de Chile.

						En algunos sistemas metropolitanos se utiliza el esquema de medición neta, como en el caso de
						España, para no derrochar electricidad.[cita requerida]

						La red del Metro de Tokio se compone de 13 líneas, sin incluir la red de trenes urbanos y
						suburbanos (cercanías) de Japan Railways (JR), entre la que vale destacar la línea Yamanote, la
						vía férrea de mayor tráfico y comunica los 23 distritos especiales de la urbe.</p>

				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos Destacados</h3>
				<ul>
					<li><a href="#">Terminologia</a></li>
					<li><a href="#">Historia</a></li>
					<li><a href="#">Infraestructura</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>El metro es un sistema de transporte más rápido y con mayor capacidad que el tranvía o el tren
					ligero, pero no es tan rápido ni cubre distancias de largo alcance como el tren suburbano o de
					cercanías. Es indiscutible su capacidad para transportar grandes cantidades de personas en
					distancias cortas con rapidez, con un uso mínimo del suelo. Pese a que la tendencia expansiva de las
					redes de metro de las grandes ciudades las ha llevado a conectar con otros núcleos de población
					periféricos del área metropolitana, el tipo de servicio que prestan sigue siendo perfectamente
					independiente y distinguible del que prestan otros sistemas de transporte ferroviarios. </p>
			</div>
		</aside>
		<footer>
			<p>Salazar Diaz Fatima Fabiola - Todos los Derechos Reservados</p>


		</footer>
	</div>
</body>

</html>